* {
  margin: 0;
  padding: 0;
  position: relative;
}

div {
  box-sizing: border-box;
}

.content_container p {
  font-size: 0.9rem;
  margin: 0;
  color: rgb(100, 100, 100);
}

#user_container {
  padding: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
  background-color: rgb(250, 205, 250);
  box-shadow: 1px 1px 2px rgb(100, 100, 100);
}

.image_container {
  display: block;
}

.user_img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  filter: hue-rotate(100deg);
  opacity: 0.5;
}

.content_container {
  display: grid;
  gap: 5px;
  /* grid-template-columns: auto 70px;
  grid-template-rows: auto 30px; */
  grid-template-areas: 
  "A A A A C"
  "S S S S D"
  "B B B B F"
  "B B B B F";
}

.name_container {
  grid-area: A;
}

.info_container {
  grid-area: B;
  ;
}
.status_container {
  grid-area: S;
}

.location_container {
  grid-area: B;
}

.button_container {
  grid-area: F;
  width: 100%;
  height: 100%;
}

.follow_unfollow_user {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: rgb(240, 190, 230);
  color: rgb(150, 100, 140);
  font-size: 1em;
  padding: 0;
  line-height: 100%;
}