.message {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 55px;
  margin: 5px;
  padding: 5px;
}

.image_container {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
}

.image {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.message_container {
  box-sizing: border-box;
  margin-left: 60px;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(50, 50, 50);
}

p {
  word-wrap: break-word;
  word-break: break-all;
}